* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 6%,
    rgba(13, 12, 34, 1) 35%,
    rgba(61, 35, 83, 1) 88%
  );
}
/* Navbar  */
.navbar-nav li {
  font-size: 14px;
  padding: 0 20px 0 20px;
}
.navbar-nav .active {
  color: #fff !important;
}
.navbar-brand {
  color: #fff;
}
.navbar-nav li a {
  color: rgba(238, 238, 255, 0.699);
}
.search_bar input {
  height: 35px;
  width: 18em;
  border-radius: 15px;
  background: transparent;
}
.search_bar a {
  position: relative;
  border: none;
  right: 3.5em;
}

/* Wallet Button  */
.wallet {
  position: relative;
  overflow: hidden;
}
.wallet_btn {
  background: #1e50ff !important;
  color: #fff;
  transition: background 0.3s linear;
  border-radius: 10px;
}
.wallet:hover .shine {
  transform: skewX(20deg) translateX(300px);
}

.shine {
  position: absolute;
  top: 0;
  left: -70px;
  height: 98px;
  width: 50px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.4s linear;
  transform: skewX(20deg) translateX(0);
}

/* Header  */
.header_main img {
  border-radius: 20px;
}
.header_main h2 {
  color: #fff;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 5em;
}
.no_spam {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.no_spam p {
  padding: 0 20px 0 20px;
  color: rgba(238, 238, 255, 0.616);
}
/* Sponsorship Logo  */
.spons_comp{
  margin-top: 5em;
  padding: 20px;
  text-align: center;
  letter-spacing: 5em;
}
.spons_comp:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.spons_comp img {
  display: inline-block;
}
