* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 1) 6%,
      rgba(13, 12, 34, 1) 35%,
      rgba(61, 35, 83, 1) 88%);
}

/* Button  */
.primary_button {
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: #1e50ff;
}

.primary_button_outline {
  border: 1px solid #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
}

/* Purple text  */
.purple_text_nft {
  color: #9d00ea;
  font-weight: 600;
}

/* Navbar  */
.navbar-nav li {
  font-size: 14px;
  padding: 0 20px 0 20px;
}

.navbar-nav .active {
  color: #fff !important;
}

.navbar-brand {
  color: #fff;
}

.navbar-nav li a {
  color: rgba(238, 238, 255, 0.699);
}

.search_bar input {
  height: 35px;
  width: 18em;
  border-radius: 15px;
  background: transparent;
}

.search_bar a {
  position: relative;
  border: none;
  right: 3.5em;
}

/* Wallet Button  */
.wallet {
  position: relative;
  overflow: hidden;
}

.wallet_btn {
  background: #1e50ff !important;
  color: #fff;
  transition: background 0.3s linear;
  border-radius: 10px;
}

.wallet:hover .shine {
  transform: skewX(20deg) translateX(300px);
}

.shine {
  position: absolute;
  top: 0;
  left: -70px;
  height: 98px;
  width: 50px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.4s linear;
  transform: skewX(20deg) translateX(0);
}

/* Header  */
.header_main img {
  border-radius: 20px;
}

.header_main h2 {
  color: #fff;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 5em;
}

.no_spam {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.no_spam p {
  padding: 0 20px 0 20px;
  color: rgba(238, 238, 255, 0.616);
}

/* Sponsorship Logo  */
.spons_comp {
  margin-top: 5em;
  padding: 20px;
  text-align: center;
  letter-spacing: 5em;
}

.spons_comp:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.spons_comp img {
  display: inline-block;
}

/* NFT Marketplace  */
.nft_market_drop_head {
  margin-top: 3em;
  text-align: center;
}

.nft_market_drop_head h2 {
  color: #fff;
}

.choose_nft {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.choose_nft button {
  border: none;
  border-radius: 10px;
  margin: auto;
  padding: 10px 20px 10px 20px;
  background: #061033;
  color: #2d5afa;
}

.choose_nft button:hover {
  border: 1px solid #254cd8;
  background: #0c2065;
  color: #2a54ec;
  transition: 0.3s ease;
}

/* NFT CARD  */
.nf_card .card {
  padding: 12px;
  background: #110f14;
}

.nf_card .card button {
  border: none;
  background: none;
  float: right;
}

.nf_card h5 {
  color: #fff;
}

.nf_card p {
  color: #eeff;
}

.price_text {
  color: #1e4fff;
  font-weight: 700;
}

.nft_img {
  background: #2f283a60;
  border-radius: 20px;
}

.price_text img {
  float: right;
}

.show_button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.show_button button {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  transition: 0.4s ease all;
}

.show_button button:hover {
  background: #2e1c44;
}

/* Newsletter  */
.newsletter {
  margin: auto;
  width: fit-content;
}

.newsletter_banner {
  background: rgb(9, 21, 73);
  background: linear-gradient(90deg, rgba(9, 21, 73, 1) 0%, rgba(7, 16, 57, 1) 79%);
  border-radius: 20px;
  width: fit-content;
  height: auto;
  padding: 5em;
  margin-top: 20px;
}

.newsletter_banner h3 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.newsletter_banner span {
  color: #898ea4;
}

.newsletter_filling {
  display: flex;
  justify-content: center;
}

.newsletter_filling input {
  margin-top: 20px;
  color: #eeff;
  border: none;
  background: rgb(26, 35, 68);
  border-radius: 20px;
  padding: 5px;
  width: 20em;
  height: 3em;
}

/* creator card  */
.creator_how_header {
  margin-top: 50px;
  text-align: center;
}

.creator_how_header h3 {
  color: #fff;
}

.creator_how .card-body {
  text-align: center;
}

.creator_how .card {
  padding: 5px;
  background: #0f0f10;
  border-radius: 30px;
  width: 19rem;
  height: 18rem;
}

.creator_how .card img {
  margin: auto;
  width: 10em;
}

/* Top Creator  */
.top_creator_nft_header {
  margin-top: 5em;
  text-align: center;
}

.top_creator_nft_header h3 {
  color: #fff;
}

/* Card  */
.profile_card {
  display: flex;
  border-radius: 20px;
  padding: 15px;
  background: #12101a;
}

.profile_card .menu img {
  position: relative;
  top: 5px;
  right: -50px;
  width: 50px;
  height: auto;
}

.profile_card .menu {
  background: transparent;
  border: none;
}

.top_creator_pic img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.top_creator_pic .online {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: -15px;
  background: #12101a;
}

.top_creator_pic {
  display: flex;

}

.top_creator_info {
  margin-left: 15px;
}

.top_creator_info p {
  color: #fff;
  font-weight: 600;
}

.top_creator_info span {
  color: rgba(238, 238, 255, 0.637);
}

.top_creator_info .ethereum_pic img {
  width: 10px;
  height: 20px;
}

.community {
  margin-top: 3em;
  min-width: 1em;
  min-height: 15em;
  background: rgba(15, 16, 21, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(15, 16, 21, 0.72);
  text-align: center;
  padding: 50px;
}
.community h2{
  color: #fff;
}
.community p{
  color: #eeff;
}
.community button{
  background: #1e50ff;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
}
.community img{
  width: 20px;
  height: 20px;
  color: #fff;
}
footer{
  margin-top: 5em;
}
.footer_left_1{
  padding: 30px;
}
.footer_left_1 img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.footer_left_1 span{
  padding: 5px;
  color: #eeff;
  font-size: 16px;
}
.footer_left_1 p{
  margin-top: 10px;
  color: #b7b7b7;
  padding: 3px;
  font-size: 14px;
}
.footer_links_text{
  color: #b7b7b7;
}
.footer_links_text ul{
  list-style-type: none;
}
.footer_links_text span{
  color: #fff;
}