* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 6%,
    rgba(13, 12, 34, 1) 35%,
    rgba(61, 35, 83, 1) 88%
  );
}
/* Navbar  */
.navbar-nav li {
  font-size: 14px;
  padding: 0 20px 0 20px;
}
.navbar-nav .active {
  color: #fff !important;
}
.navbar-brand {
  color: #fff;
}
.navbar-nav li a {
  color: rgba(238, 238, 255, 0.699);
}
.search_bar input {
  height: 35px;
  width: 18em;
  border-radius: 15px;
  background: transparent;
}
.search_bar a {
  position: relative;
  border: none;
  right: 3.5em;
}

/* Wallet Button  */
.wallet {
  position: relative;
  overflow: hidden;
}
.wallet_btn {
  background: #1e50ff !important;
  color: #fff;
  transition: background 0.3s linear;
  border-radius: 10px;
}
.wallet:hover .shine {
  transform: skewX(20deg) translateX(300px);
}

.shine {
  position: absolute;
  top: 0;
  left: -70px;
  height: 98px;
  width: 50px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.4s linear;
  transform: skewX(20deg) translateX(0);
}

/* Header  */
.header_main img {
  border-radius: 20px;
}
.header_main h2 {
  color: #fff;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 5em;
}
.no_spam {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.no_spam p {
  padding: 0 20px 0 20px;
  color: rgba(238, 238, 255, 0.616);
}
/* Sponsorship Logo  */
.spons_comp{
  margin-top: 5em;
  padding: 20px;
  text-align: center;
  letter-spacing: 5em;
}
.spons_comp:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.spons_comp img {
  display: inline-block;
}
/* NFT Marketplace  */
.nft_market_drop_head{
  margin-top: 3em;
  text-align: center;
}
.nft_market_drop_head span{
  color: #9d00ea;
  font-weight: 600;
}
.nft_market_drop_head h2{
  color: #fff;
}

.choose_nft{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.choose_nft button{
  border: none;
  border-radius: 10px;
  margin: auto;
  padding: 10px 20px 10px 20px;
  background: #061033;
  color: #2d5afa;
}
.choose_nft button:hover{
  border: 1px solid #254cd8;
  background: #0c2065;
  color: #2a54ec;
  transition: 0.3s ease;
}
/* NFT CARD  */
.nf_card .card{
  padding: 12px;
  background: #110f14;
}
.nf_card .card button{
  border: none;
  background: none;
  float: right;
}
.nf_card h5{
  color: #fff;
}
.nf_card p{
  color: #eeff;
}
.price_text{
  color: #1e4fff;
  font-weight: 700;
}
.nft_img{
  background: #2f283a60;
  border-radius: 20px;
}
.price_text img{
  float: right;
}
.show_button{
  display:flex;
  justify-content: center;
  margin-top: 50px;
}
.show_button button{
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  transition: 0.4s ease all;
}
.show_button button:hover{
  background: #2e1c44;
}